<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD em JS</title>
</head>
<body>
    <h2>Registro</h2>
    <form action="/show" method="POST">
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <button type="submit">Enviar</button>
    </form>
</body>
</html>